@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 50px 135px;
}

.title-two {
    color: #FF5400;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    display: flex;
}

.item-container a {
    text-decoration: none;
    margin-right: 20px;
    color: black;

}

.item-container .item-one {
    color: #FF5400;
}

.banner {
    max-width: 1140px;
    margin: 0 auto;
    height: 500px;
    text-align: center;
    background-image: url('../Images/groupthirteen.png');
    background-repeat: no-repeat;
    width: 80%;
    padding: 50px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.section-from input {
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 20px;

}


.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: 0;
}

.section-title {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.main-section{
    display: flex;
    padding: 50px 135px;
}








@media screen and (max-width:600px) {

    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .banner {
        padding: 0px;
        width: 100%;
    }

    .banner .banner-title {
        font-size: 1.4rem;
    }

    .banner .banner-description {
        font-size: 0.75rem;
    }

    .banner input{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .main-section{
        flex-direction: column;
        padding: 10px;
    }
    .main-section img{
        width: 100%;
    }


}